<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="scrapy.myppers.FollowerMapper">

    <!-- 新增的Statement
     id：唯一标识，随便写，在同一个命名空间下保持唯一，使用动态代理之后要求和方法名保持一致
     parameterType：参数的类型，使用动态代理之后和方法的参数类型一致
     useGeneratedKeys:开启主键回写
     keyColumn：指定数据库的主键
     keyProperty：主键对应的pojo属性名
   -->
    <insert id="insertFollower" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="scrapy.pojo.Follower">
        insert into tb_weibo_followers(id,uid,screen_name,profile_url,profile_image_url,verified,
        followers_count,follow_count,followers_uid)
        value (null,#{uid},#{screen_name},#{profile_url},#{profile_image_url},#{verified},
        #{followers_count},#{follow_count},#{followers_uid})
    </insert>

</mapper>